.root {
  // margin: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.penTitleBar {
  display: flex;
  justify-content: space-between;
}

.pennelite {
  display: flex;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 1000;
  :hover {
    cursor: pointer;
  }
}

.run {
  background: red;
  color: white;
  border-radius: 0px;
  padding: 0px 10px;
  border: none;
  cursor: pointer;
}

.title {
  background: black;
  color: white;
  width: 200px;
  border: 0.5px solid #444343;
  border-radius: 15px;
  padding-left: 10px;
}

.edit {
  width: 15px;
  height: 15px;
}

.codesPanel {
  background: #242424;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.codeTitle {
  margin-left: 5px;
  color: #f5f5f5;
}
.codes {
  background: #292929;
  border: none;
  color: white;
  :focus {
    outline: none !important;
  }
}

.iframePanel {
  display: flex;
  flex-direction: column;
}

.iframe {
  background: #292929;
  color: #d7d7d7;
  text-decoration-color: #d7d7d7;
}

.fullScreen {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  margin-left: auto;
}
