.c--recentPens-root {
  height: calc(100vh - 65px);
  margin: 0 26px 0 26px;
  position: relative;
  overflow-y: scroll;
}
.c--pen-items {
  border-bottom: 1px solid #2c2c2c;
}

.c--pen-header {
  margin-top: 10px;
  color: #a3a3a3;
}

.c--pen-title {
  margin-bottom: 10px;
  font-size: 18px;
}

.c--pen-writer {
  font-size: 11px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.c--pen-footer {
  display: flex;
  justify-content: space-between;
}

.c--pen-Button {
  height: 20px;
  margin-left: 5px;
  width: auto;
  letter-spacing: 0.5px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.c--recentPens-likePanel {
  color: white;
  height: 30px;
  font-size: 17px;
  display: flex;
}

.disliked {
  height: 15px;
  margin-right: 0px;
  padding-right: 0px;
}

.c--recentPens-searchBar {
  background: #1a1a1a;
  border: 0.5px solid #444343;
  width: 90%;
  height: 30px;
  border-radius: 5px;
  color: white;
  padding-left: 15px;
  margin: 0px auto 10px auto;
}
