.header {
  background-color: black;
  height: 18px;
  display: flex;
  justify-content: space-between;
  //   width: 100%;
  // margin-bottom: 10px;
}

.title {
  color: white;
  display: flex;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 1000;
  :hover {
    cursor: pointer;
  }
}
.lite {
  background: red;
  font-size: 10px;
  letter-spacing: 0px;
  margin-left: 3px;
  margin-top: 2px;
  padding: 1px 6px 8px 6px;
  text-justify: auto;
}
