.header {
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin: 20px 15px 5px 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #2c2c2c;
}

.title {
  color: white;
  display: flex;
  font-size: 19px;
  letter-spacing: 7px;
  border: none;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.pene {
}
.lite {
  background: #aa0000;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin: 3px 0px 3px 0px;
  padding: 3px 4px 0px 4px;
}

.button {
  cursor: pointer;
}
