.header {
  background-color: black;
  height: 25px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #2c2c2c;
}

.title {
  color: white;
  display: flex;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 1000;
}
.lite {
  background: red;
  font-size: 10px;
  letter-spacing: 0px;
  margin-left: 3px;
  margin-top: 2px;
  margin-bottom: 6px;
  padding: 3px 6px 2px 6px;
  text-justify: auto;
}

.button {
  cursor: pointer;
}
