.root {
}
.title {
  // background-color: black;
  color: white;
  margin: 5px;
  line-break: auto;
  overflow: hidden;
  margin-right: 50px;
}

.fullScreen {
  width: 20px;
  height: 20px;
  position: fixed;
  top: 25px;
  right: 10px;
  background: white;
  border: 0.5px solid white;
}
