html {
  overflow: auto; // for full height which applies to body tag
}
body {
  // position: fixed;
  // width: 100%;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: black;
  color: white;
  font-family: monospace; // move this to html or * or never mind :)
  overflow: hidden;
}

#root {
  height: 100%;
  overflow: hidden; // for sticking whole app to top
}

* {
  box-sizing: border-box;
}
